<%= javascript_include_tag 'application' %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<div class="span8">

<h3> Shipments </h3>

copy billing / shipping / views from spree

</div>
<div class="span8">
<% @outstanding_orders.each do |order| %>




	<div style="margin:30px;" id="order_<%=order.id%>">
		
		
	<h3><%= order.number %></h3><br>

	Credit Card
	<br>
	<% order.credit_cards.each do |cc| %>

	<br>
	Name: <%= cc.name %>
		<br>

	Number: <%= cc.full_digits %>  -  CVV: <%= cc.cvv %>
		<br>

	Expiry:  <%= cc.month %> / <%= cc.year %>
	<br>
	<br>


	<%end%>

	Billing Address
	<br>
	<%= order.bill_address %> <br>


	<br>
	Shipping Address
	<br>
	<%= order.ship_address %> <br>

		
	<br>
	<table class="table table-condensed table-bordered table-striped">
	
	<% order.line_items.each do |line_item| %>
	

		
		
		 <tr>
			<td>Quantity</td>   <td>Product</td>
		 </tr>
			<td> <%= line_item.quantity%>  </td> <td>

				<%= line_item.product.name %> 

		
		

	
	<%end%>
	
	</table>
	
	
	
	<%#= form_for order, :url => url_for(:controller => 'shipments', :action => 'update_order') do |f| %>
	<%= form_for order, { :url => '/shipments/update_order', :method => :post, :remote => true } do |f| %>
	
		<%= f.hidden_field :id %>
		<label>Tracking No.</label>
		
		<%= f.text_area :special_instructions, :class => "span4", :rows => 1%>
		<%= f.submit "Mark Shipped", :class => "btn  btn-primary "%>
		<!--<button class="btn btn-primary submit">Shipped</button> -->
	<%end%>
	
	
	</div>
<%end%>	

</div>
	